$avh : 'Nunito';
$avroman : 'Nunito';
$avmedium : 'Nunito';
$avlight : 'Nunito';
$avbook : 'Nunito';
$avblack :  'Nunito';

// $avh : 'AvenirLTStd-Heavy';
// $avroman : 'AvenirLTStd-Roman';
// $avmedium : 'AvenirLTStd-Medium';
// $avlight : 'AvenirLTStd-Light';
// $avbook : 'AvenirLTStd-Book';
// $avblack : 'AvenirLTStd-Black';