@import "lib/fontawesome/css/all.css";
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font: 300 10px/1 "Alegreya Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
}

/* clear */
/* global box-sizing */
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #444;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

::-moz-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.class-selected {
  background-color: rgba(26, 188, 156, 0.5);
}
@media only screen and (max-width: 1119px) {
  .class-selected {
    background-color: rgba(46, 204, 113, 0.5);
  }
}
@media only screen and (max-width: 767px) {
  .class-selected {
    background-color: rgba(52, 152, 219, 0.5);
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .class-selected {
    background-color: rgba(155, 89, 182, 0.5);
  }
}

.items-lists-posts .item > a:hover .thumb, .items-lists-posts .item > a .thumb img {
  webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.items-lists-posts .item > a:hover .thumb, .items-lists-posts .item > a:hover .layer, .items-lists-posts .item > a .thumb img {
  transition: 0.3s;
}

.items-lists-posts .item > a .content .data span.cat {
  border-radius: 4px;
}

a, a:hover {
  transition: 0.3s;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
.container {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    width: 1200px;
    padding: 0;
  }
}

a,
a:hover,
img,
img:hover {
  transition: 0.3s;
}

.items-lists-posts {
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.items-lists-posts .item {
  width: 100%;
  min-height: 300px;
}
@media only screen and (min-width: 1280px) {
  .items-lists-posts .item {
    width: 49%;
    margin: 0 2% 20px 0;
  }
  .items-lists-posts .item:nth-child(even) {
    margin: 0 0 20px 0;
  }
}
.items-lists-posts .item.full {
  width: 100%;
  margin: 0 0 10px 0;
}
@media only screen and (min-width: 1280px) {
  .items-lists-posts .item.full {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
.items-lists-posts .item.third {
  margin: 0 10px 20px 10px;
}
@media only screen and (min-width: 1280px) {
  .items-lists-posts .item.third {
    width: 32%;
    margin: 0 2% 20px 0;
  }
  .items-lists-posts .item.third:nth-child(3n) {
    margin: 0 0 20px 0;
  }
}
.items-lists-posts .item.ads, .items-lists-posts .item.center-ads {
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: #212127;
}
.items-lists-posts .item > a {
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.7);
}
.items-lists-posts .item > a .content {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  color: #FFF;
}
.items-lists-posts .item > a .content .data {
  padding: 20px;
}
.items-lists-posts .item > a .content .data span.cat {
  display: table;
  background: #e43333;
  color: #FFF;
  font-size: 1.25rem;
  margin: 0 0 10px 0;
  padding: 6px 10px;
  text-transform: uppercase;
}
.items-lists-posts .item > a .content .data h3 {
  font-size: 2.4rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.items-lists-posts .item > a .thumb {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.items-lists-posts .item > a .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items-lists-posts .item > a .layer {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.items-lists-posts .item > a:hover .layer {
  background: rgba(0, 0, 0, 0.3);
}
.items-lists-posts .item > a:hover .data {
  padding: 20px 20px 25px;
}
header .container {
  padding: 20px 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  header .container {
    padding: 20px 0;
  }
}
header .container a.logo {
  display: block;
}
header .container a.logo:hover {
  opacity: 0.7;
}
header .container a.logo img {
  height: 40px;
}
@media only screen and (min-width: 1280px) {
  header .container a.logo img {
    height: 77px;
  }
}
header .container button.mobilebutton {
  display: block;
  font-size: 2rem;
  outline: none;
  border: none;
  background: #FFF;
  -webkit-appearance: none;
}
@media only screen and (min-width: 1280px) {
  header .container button.mobilebutton {
    display: none;
  }
}
header .container nav {
  display: block;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  header .container nav {
    display: block;
  }
}
header .container nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 1280px) {
  header .container nav ul {
    display: flex;
    flex-wrap: wrap;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}
header .container nav ul li {
  margin: 0 0 10px 0;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  header .container nav ul li {
    margin: 0 0 0 30px;
  }
}
header .container nav ul li a {
  color: #585858;
  font-family: "Alegreya";
  font-weight: 700;
  font-style: italic;
  padding: 2px;
  border-bottom: 1px solid transparent;
}
header .container nav ul li a:hover {
  color: #9A7A14;
}
header .container nav ul li.current-menu-item a {
  color: #9A7A14;
  border-bottom: 1px solid #9A7A14;
}
header .container nav ul li ul.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -10px;
  padding: 10px;
  background: #FFF;
  z-index: 999;
  flex-wrap: wrap;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media only screen and (max-width: 1119px) {
  header .container nav ul li ul.sub-menu {
    position: relative;
    display: flex;
    padding: 10px 0 0 20px;
  }
}
header .container nav ul li ul.sub-menu li {
  margin: 0 0 10px 0;
}
@media only screen and (max-width: 1119px) {
  header .container nav ul li ul.sub-menu li {
    display: block;
    width: 100%;
  }
}
header .container nav ul li:hover ul.sub-menu {
  display: flex;
}
header .container .searchbox {
  margin: 0 0 0 20px;
  border-bottom: 1px solid #585858;
  padding: 0 0 5px 0;
}
@media only screen and (max-width: 1119px) {
  header .container .searchbox {
    margin: 0 0 20px 0;
  }
}
header .container .searchbox form input {
  width: 80%;
  border: none;
  background: none;
  font-size: 1.4rem;
}
header .container .searchbox form input::-moz-placeholder {
  font-style: italic;
  font-family: "Alegreya";
}
header .container .searchbox form input::placeholder {
  font-style: italic;
  font-family: "Alegreya";
}
@media only screen and (min-width: 1280px) {
  header .container .searchbox form input {
    width: 100px;
  }
}
header .container .searchbox form button {
  font-size: 1.5rem;
  border: none;
  background: none;
  outline: none;
}
header .container .searchbox form button:hover {
  color: #9A7A14;
  cursor: pointer;
}
header .container .social {
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media only screen and (max-width: 1119px) {
  header .container .social {
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
  }
}
header .container .social a {
  font-size: 1.8rem;
  margin: 0 0 0 15px;
}
@media only screen and (max-width: 1119px) {
  header .container .social a {
    font-size: 3rem;
  }
}
header .container .col:last-child {
  flex-wrap: wrap;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media only screen and (max-width: 1119px) {
  header .container .col:last-child {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 10px 20px 10px;
    z-index: 999;
    background: #FFF;
  }
}
@media only screen and (min-width: 1280px) {
  header .container .col:last-child {
    display: flex;
  }
}

main.home section.destacados {
  position: relative;
}
main.home section.destacados .sliderHome .row {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  background: #F5F5ED;
}
@media only screen and (min-width: 1280px) {
  main.home section.destacados .sliderHome .row {
    grid-template-columns: 8fr 4fr;
  }
}
@media only screen and (min-width: 1400px) {
  main.home section.destacados .sliderHome .row {
    grid-template-columns: 4fr 3fr;
    align-items: center;
  }
}
main.home section.destacados .sliderHome .row .thumb a img {
  width: 100%;
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 1280px) {
  main.home section.destacados .sliderHome .row .thumb a img {
    max-height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
main.home section.destacados .sliderHome .row .data {
  padding: 20px;
}
@media only screen and (min-width: 1280px) {
  main.home section.destacados .sliderHome .row .data {
    padding: 30px 100px 30px 30px;
  }
}
main.home section.destacados .sliderHome .row .data h2 {
  font-size: 3.2rem;
  font-family: "Alegreya";
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
main.home section.destacados .sliderHome .row .data h2 a {
  color: #D22800;
}
main.home section.destacados .sliderHome .row .data h2 a:hover {
  color: #D8D4AE;
}
main.home section.destacados .sliderHome .row .data .extracto p {
  font-size: 2.6rem;
  line-height: 1.2;
}
main.home section.destacados .sliderHome .row .data .date {
  font-size: 2rem;
  color: #C2C2C2;
}
main.home section.destacados .customArrow {
  position: absolute;
  top: 50%;
  color: #D22800;
  font-size: 2.5rem;
  transform: translate(0, -50%);
}
main.home section.destacados .customArrow:hover {
  cursor: pointer;
  color: #9f1e00;
}
main.home section.destacados .customArrow.prevArrow {
  left: 5px;
}
main.home section.destacados .customArrow.nextArrow {
  right: 5px;
}
main.home section.articles {
  margin: 30px auto 90px;
}
main.home section.articles .container {
  padding: 0 10px;
}
@media only screen and (min-width: 1280px) {
  main.home section.articles .container {
    padding: 0;
  }
}
main.home section.articles .container h1 {
  display: table;
  font-family: "Alegreya";
  font-size: 5.4rem;
  font-weight: 500;
  margin: 0 auto;
  padding: 0 0 70px 0;
}
main.home section.articles .container h1.cat {
  color: #47586A;
}
main.home section.articles .container h1.search {
  color: #D22800;
}
main.home section.articles .container .items-list {
  padding: 0 0 90px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 50px;
}
@media only screen and (min-width: 1280px) {
  main.home section.articles .container .items-list {
    grid-template-columns: repeat(3, 4fr);
    grid-column-gap: 12px;
    grid-row-gap: 90px;
  }
}
main.home section.articles .container .items-list .item .thumb {
  position: relative;
}
main.home section.articles .container .items-list .item .thumb:hover a {
  opacity: 0.5;
}
main.home section.articles .container .items-list .item .thumb a {
  display: block;
}
main.home section.articles .container .items-list .item .thumb a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 200px;
}
@media only screen and (min-width: 1280px) {
  main.home section.articles .container .items-list .item .thumb a img {
    max-height: 250px;
  }
}
main.home section.articles .container .items-list .item .thumb .categories {
  position: absolute;
  bottom: 40%;
  left: 50%;
}
main.home section.articles .container .items-list .item .thumb .categories a {
  margin: 0;
  font-family: "Alegreya";
  font-size: 3.2rem;
  font-weight: 500;
  display: flex;
  color: rgb(17, 10, 10);
  opacity: 0; /* Inicialmente oculto */
}
main.home section.articles .container .items-list .item .thumb:hover .categories a {
  display: block;
  opacity: 1; /* Mostrar cuando se hace hover */
}
main.home section.articles .container .items-list .item .data {
  padding: 12px;
}
main.home section.articles .container .items-list .item .data .date {
  font-size: 2rem;
  color: #C2C2C2;
}
main.home section.articles .container .items-list .item .data h2 {
  margin: 0;
  padding: 10px 0;
  font-family: "Alegreya";
  font-size: 3.2rem;
  font-weight: 500;
}
main.home section.articles .container .items-list .item .data h2 a {
  color: #D22800;
}
main.home section.articles .container .items-list .item .data h2 a:hover {
  color: #9A7A14;
}
main.home section.articles .container .items-list .item .data .autor {
  font-size: 2rem;
  color: #47586A;
  font-family: "Alegreya";
  font-style: italic;
}
main.home section.articles .container .items-list .item .data .extracto {
  margin: 10px 0 0 0;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #47586A;
}
main.home section.articles .container .items-list .item .data p {
  font-size: 2.4rem;
  font-family: "Alegreya Sans";
  margin: 0;
  padding: 0;
}
main.home section.articles .container .items-list .item .data.center {
  text-align: center;
}
main.home section.articles .container .items-list .item .data.center h2 a {
  color: #47586A;
}
main.home section.articles .container a.readmore {
  display: table;
  margin: 0 auto;
  font-size: 2.4rem;
  color: #47586A;
  border-bottom: 1px solid #47586A;
  text-transform: uppercase;
}
main.home section.articles .container a.readmore:hover {
  color: #9A7A14;
}
main.home section.categorias .container {
  padding: 0 10px;
}
@media only screen and (min-width: 1280px) {
  main.home section.categorias .container {
    padding: 0;
  }
}
main.home section.categorias .container nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
}
@media only screen and (min-width: 1280px) {
  main.home section.categorias .container nav ul {
    grid-template-columns: repeat(6, 2fr);
  }
}
main.home section.categorias .container nav ul li {
  font-size: 3.2rem;
  font-family: "Alegreya";
  font-style: italic;
}
main.home section.categorias .container nav ul li a {
  padding: 20px 10px;
  display: block;
  color: #D22800;
  background: #D8D4AE;
  text-align: center;
}
main.home section.categorias .container nav ul li a:hover {
  background: #D22800;
  color: #FFF;
}
main.home section.newsletter {
  display: block;
  margin: 30px auto;
}
main.home section.newsletter .container {
  background: #47586A;
  color: #FFF;
  padding: 20px;
}
@media only screen and (min-width: 1280px) {
  main.home section.newsletter .container {
    padding: 70px 200px;
  }
}
main.home section.newsletter .container p {
  color: #C2C2C2;
  font-family: "Alegreya";
  font-weight: 600;
  font-size: 3.4rem;
  font-style: italic;
  margin: 0;
  padding: 0;
  text-align: center;
}
main.home section.newsletter .container form {
  padding: 30px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
main.home section.newsletter .container form input {
  width: 600px;
  font-size: 1.6rem;
  padding: 10px;
  border: none;
  margin: 0 10px 0 0;
}
main.home section.newsletter .container form button {
  width: 200px;
  padding: 10px;
  font-size: 1.6rem;
  background: #9A7A14;
  border: none;
  color: #FFF;
  text-transform: uppercase;
}
main.home section.newsletter .container form button:hover {
  cursor: pointer;
  background: #6d560e;
}

main.archive.container {
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  background: #FFF;
  padding: 20px 10px;
}
@media only screen and (min-width: 1280px) {
  main.archive.container {
    padding: 20px 0;
  }
}
main.archive section {
  width: 100%;
}
main.archive section h1 {
  display: table;
  font-family: "Alegreya";
  font-size: 5.4rem;
  font-weight: 500;
  margin: 0 auto;
  padding: 0 0 70px 0;
}
main.archive section h1.cat {
  color: #47586A;
}
main.archive section h1.search {
  color: #D22800;
}

.archive-item {
  padding: 0 0 90px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 50px;
}
@media only screen and (min-width: 1280px) {
  .archive-item {
    grid-template-columns: repeat(3, 4fr);
    grid-column-gap: 12px;
    grid-row-gap: 90px;
  }
}
@media only screen and (min-width: 1280px) {
  .archive-item .item .thumb {
    height: 250px;
  }
}
.archive-item .item .thumb a {
  display: block;
  height: 100%;
}
.archive-item .item .thumb a:hover {
  opacity: 0.7;
}
.archive-item .item .thumb a img {
  width: 100%;
  height: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.archive-item .item .data {
  padding: 12px;
}
.archive-item .item .data .date {
  font-size: 2rem;
  color: #C2C2C2;
}
.archive-item .item .data h2 {
  margin: 0;
  padding: 10px 0;
  font-family: "Alegreya";
  font-size: 3.2rem;
  font-weight: 500;
}
.archive-item .item .data h2 a {
  color: #D22800;
}
.archive-item .item .data h2 a:hover {
  color: #9A7A14;
}
.archive-item .item .data .autor {
  font-size: 2rem;
  color: #47586A;
  font-family: "Alegreya";
  font-style: italic;
}
.archive-item .item .data .extracto {
  margin: 10px 0 0 0;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #47586A;
}

.pagination {
  display: table;
  margin: 70px auto;
  font-size: 2.4rem;
}
.pagination span, .pagination a {
  margin: 0 15px;
  padding: 10px;
}
.pagination span.current, .pagination a.current {
  color: #47586A;
  border-bottom: 1px solid #47586A;
}
.pagination a:hover {
  color: #9A7A14;
}

.breadcrumbs {
  font-size: 1.4rem;
}

main.single article .top-post {
  margin: 35px 0;
}
main.single article .top-post img {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 1280px) {
  main.single article .top-post img {
    max-height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
main.single article .top-post p {
  margin: 0;
  padding: 10px 0 0;
  color: #C2C2C2;
  font-size: 1.6rem;
  text-align: right;
}
@media only screen and (min-width: 1280px) {
  main.single article .content-post {
    display: table;
    width: 1000px;
    margin: 30px auto;
  }
}
main.single article .content-post .top {
  color: #47586A;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
main.single article .content-post .top .categories a {
  color: #47586A;
  margin: 0 0 0 5px;
}
main.single article .content-post .top .categories a:hover {
  color: #D8D4AE;
}
main.single article .content-post h1.title-post {
  color: #D82E30;
  font-family: "Alegreya";
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  margin: 30px 0;
  padding: 0;
}
@media only screen and (min-width: 1280px) {
  main.single article .content-post h1.title-post {
    font-size: 5.4rem;
    line-height: 1.2;
  }
}
main.single article .content-post .authors {
  color: #47586A;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}
main.single article .content-post .content-full {
  margin: 50px 0 0;
  font-size: 2.4rem;
  font-family: "Alegreya";
  font-weight: 400;
  line-height: 1.5;
}
main.single article .content-post .content-full p.has-small-font-size {
  font-size: 2rem;
}
main.single article .content-post img.firma {
  margin: 20px auto;
  display: table;
}
main.single .block-author {
  background: #F5F5ED;
}
main.single .block-author .container {
  padding: 40px 20px;
  text-align: center;
}
@media only screen and (min-width: 1280px) {
  main.single .block-author .container {
    padding: 40px 0;
  }
}
main.single .block-author .container h2 {
  color: #47586A;
  font-family: "Alegreya Sans";
  font-size: 3.6rem;
  margin: 0 0 20px 0;
  padding: 0;
}
main.single .block-author .container .description {
  color: #47586A;
  font-size: 2.8rem;
  line-height: 1.2;
}

.breadcrumbs {
  color: #C2C2C2;
  font-size: 2rem;
}
.breadcrumbs a {
  color: #C2C2C2;
}
.breadcrumbs a:hover {
  color: #D8D4AE;
}

section.relatedPosts .container {
  padding: 50px 0;
}
section.relatedPosts .container h2.title {
  margin: 0 auto 20px;
  padding: 0 0 2px 0;
  font-size: 2.4rem;
  font-family: "Alegreya Sans";
  font-weight: 500;
  color: #D82E30;
  border-bottom: 1px solid #D82E30;
  text-transform: uppercase;
  text-align: center;
  display: table;
}
section.relatedPosts .container .itemsList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
}
@media only screen and (min-width: 1280px) {
  section.relatedPosts .container .itemsList {
    grid-template-columns: repeat(3, 1fr);
  }
}
section.relatedPosts .container .itemsList .item .thumb a img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.relatedPosts .container .itemsList .item .data {
  padding: 12px;
}
section.relatedPosts .container .itemsList .item .data .date {
  font-size: 2rem;
  color: #C2C2C2;
}
section.relatedPosts .container .itemsList .item .data h2 {
  margin: 0;
  padding: 10px 0;
  font-family: "Alegreya";
  font-size: 3.2rem;
  font-weight: 500;
}
section.relatedPosts .container .itemsList .item .data h2 a {
  color: #D22800;
}
section.relatedPosts .container .itemsList .item .data h2 a:hover {
  color: #9A7A14;
}
section.relatedPosts .container .itemsList .item .data .autor {
  font-size: 2rem;
  color: #47586A;
  font-family: "Alegreya";
  font-style: italic;
}

.comments {
  background: #F5F5ED;
}
.comments .container {
  padding: 20px;
}
@media only screen and (min-width: 1280px) {
  .comments .container {
    padding: 40px 0 40px 100px;
  }
}
.comments .container h2.title-comments {
  color: #47586A;
  font-size: 2.4rem;
  font-family: "Alegreya Sans";
  text-transform: uppercase;
}
.comments .container ul.comments-list {
  margin: 0;
  padding: 20px 0;
  list-style: none;
  border-top: 1px solid #979797;
}
.comments .container ul.comments-list li {
  font-size: 2.4rem;
  padding: 20px 0;
  border-bottom: 1px solid #979797;
}
.comments .container ul.comments-list li .comment-body {
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.comments .container ul.comments-list li .comment-body .comment-author {
  width: 35%;
  text-align: center;
}
.comments .container ul.comments-list li .comment-body .comment-author cite.fn {
  text-align: center;
  font-style: normal;
  font-weight: 800;
}
.comments .container ul.comments-list li .comment-body .comment-text {
  width: 60%;
}
.comments .container ul.comments-list li .comment-body .comment-text p {
  margin: 0;
  padding: 0;
}

#respond h3#reply-title {
  font-size: 2.4rem;
  color: #47586A;
  text-transform: uppercase;
}
#respond form {
  font-family: "Alegreya Sans";
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
}
@media only screen and (min-width: 1280px) {
  #respond form {
    grid-template-columns: 1fr 1fr;
  }
}
#respond form p {
  margin: 0;
  padding: 0;
}
#respond form input,
#respond form textarea {
  width: 100%;
  border: none;
  padding: 12px;
  background: #FFF;
  resize: none;
  outline: none;
}
#respond form input {
  padding: 24px 12px;
  margin: 0 24px 0 0;
}
#respond form textarea {
  height: 230px;
}
#respond form p.comment-form-author,
#respond form p.comment-form-email {
  margin: 0 0 24px 0;
}
#respond form p.comment-notes,
#respond form p.comment-form-url,
#respond form p.comment-form-cookies-consent,
#respond form label {
  display: none;
}
#respond form input#submit {
  font-family: "Alegreya Sans";
  font-weight: 600;
  background: #9A7A14;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}
#respond form input#submit:hover {
  background: #D8D4AE;
  color: #9A7A14;
  cursor: pointer;
}

.printfriendly {
  padding: 50px 0 0;
}
.printfriendly a {
  color: #D82E30 !important;
  font-size: 2rem !important;
  font-family: "Alegreya";
  display: table;
  margin: 20px auto;
  padding: 5px 8px;
  border-radius: 2px;
}
.printfriendly a:hover {
  background: #D22800;
  color: #FFF !important;
}

main.page section {
  padding: 20px 10px 0;
}
@media only screen and (min-width: 1280px) {
  main.page section {
    padding: 20px 0 0;
  }
}
main.page section .topImg {
  position: relative;
  height: 50vh;
  border-radius: 4px;
  overflow: hidden;
}
main.page section .topImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main.page section .row {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 0 0;
  grid-row-gap: 20px;
}
@media only screen and (min-width: 1280px) {
  main.page section .row {
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
  }
}
main.page section .row .col h1.title {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
}
main.page section .row .col span.line {
  display: table;
  width: 50px;
  height: 3px;
  margin: 0;
  background: #9A7A14;
}
main.page section .row .col p {
  font-size: 1.8rem;
  line-height: 1.4;
  margin: 0 0 15px 0;
  padding: 0;
}
main.page section .row .col p a {
  color: #9A7A14;
}
main.page section .row .col p a:hover {
  text-decoration: underline;
}
main.page form {
  margin: 40px 0;
}
main.page form input, main.page form textarea {
  font-size: 1.8rem;
  width: 100%;
  padding: 10px;
  border: 1px solid #666;
}
main.page form input.wpcf7-submit {
  border: none;
  background: #D22800;
  color: #FFF;
}
main.page form input.wpcf7-submit:hover {
  cursor: pointer;
  background: #9f1e00;
}

h1.titleRed {
  color: #D22800;
  font-family: "Alegreya";
  font-size: 5.4rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 50px 0 0;
}

article.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
}
@media only screen and (min-width: 1280px) {
  article.layout {
    padding: 0 0 50px 0;
    grid-template-columns: 1fr 7fr 4fr;
    align-items: flex-end;
  }
}
article.layout .content-text {
  font-family: "Alegreya";
  font-size: 2.5rem;
  line-height: 1.25;
}
@media only screen and (min-width: 1280px) {
  article.layout.full {
    padding: 0 0 50px 0;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: flex-end;
  }
}
article.layout.full .content-text {
  grid-column-start: 2;
}

article.busqueda {
  padding: 50px 0;
}
article.busqueda .titleBar {
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
article.busqueda .titleBar h1 {
  color: #D22800;
  font-family: "Alegreya";
  font-size: 5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
article.busqueda .titleBar img {
  max-height: 55px;
}
article.busqueda .search-filters {
  padding: 40px 0;
}
@media only screen and (min-width: 1280px) {
  article.busqueda .search-filters {
    display: table;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
  }
}
article.busqueda .block {
  margin: 0;
}
article.busqueda .block form {
  margin: 0 0 20px;
}
article.busqueda .block input, article.busqueda .block button, article.busqueda .block select {
  -webkit-appearance: none;
}
article.busqueda .block select {
  outline: none;
  width: 100%;
  font-size: 1.8rem;
  padding: 10px;
  border: 1px solid #D8D8D8;
  background: #FFF url(../img/bg_select.png) no-repeat right center;
  border-radius: 0;
}
article.busqueda .block.byTerm form {
  -webkit-appearance: none;
}
article.busqueda .block.byTerm form input {
  border: 1px solid #D8D8D8;
}
article.busqueda .block.byTerm form button {
  font-family: "Alegreya";
  font-weight: 500;
  font-style: italic;
  font-size: 1.9rem;
  border: none;
  background: #D22800;
  color: #FFF;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 10px 0;
}
article.busqueda .block.byTerm form button:hover {
  background: #b22123;
  cursor: pointer;
}

.topEspecial .thumb {
  overflow: hidden;
}
@media only screen and (min-width: 1280px) {
  .topEspecial .thumb {
    max-height: 600px;
  }
}
.topEspecial .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.topEspecial p.creditos-top {
  margin: 0;
  padding: 10px 0 0;
  color: #C2C2C2;
  font-size: 1.6rem;
  text-align: right;
}
.topEspecial .data {
  text-align: center;
  padding: 20px;
}
@media only screen and (min-width: 1280px) {
  .topEspecial .data {
    padding: 50px 100px 100px;
  }
}
.topEspecial .data h2 {
  color: #47586A;
  font-family: "Alegreya";
  font-size: 5.4rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.topEspecial .data h3 {
  color: #47586A;
  font-family: "Alegreya Sans";
  font-size: 2.2rem;
  margin: 0;
  padding: 0;
}
.topEspecial .data p {
  color: #47586A;
  font-family: "Alegreya Sans";
  font-size: 3.4rem;
}

h1.title.red {
  color: #D82E30;
  text-align: center;
  font-family: "Alegreya";
  font-size: 5.4rem;
  font-weight: normal;
  margin: 0 auto 20px;
  padding: 0;
}

.texto-error {
  margin: 40px auto 100px;
}
.texto-error p.error {
  font-size: 3rem;
  font-family: "Alegreya";
  text-align: center;
  display: table;
  margin: 0 auto 10px;
  width: 100%;
  text-decoration: underline;
}
.texto-error p.error a {
  display: inline-block;
  text-decoration: underline;
}
.texto-error p.error a:hover {
  color: #D82E30;
}

main.programas.parent-page {
  margin: 0;
  padding: 0;
}
main.programas section.container h1 {
  color: #FFF;
  background: #D82E30;
  padding: 20px 20px 15px;
  font-size: 4rem;
  line-height: 1;
  font-family: "Nunito";
  font-weight: 900;
  text-transform: uppercase;
}
main.programas .items-lists-posts .item h3 {
  display: none;
  text-transform: uppercase;
}

main.player-live {
  padding: 20px 0;
}
main.player-live .container {
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
main.player-live .container .block-player {
  width: 100%;
}
@media only screen and (min-width: 1280px) {
  main.player-live .container .block-player {
    width: calc(100% - 340px);
  }
  main.player-live .container .block-player #player {
    min-height: 500px;
  }
}
main.player-live .container .block-ad {
  width: 100%;
  margin: 20px auto;
}
main.player-live .container .block-ad .ads {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  main.player-live .container .block-ad {
    width: 300px;
    margin: 0;
  }
}

section.schedule-block .title-top {
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  min-height: 65px;
}
section.schedule-block .title-top .month {
  width: 100%;
  background: #D82E30;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  color: #FFF;
  text-transform: uppercase;
}
@media only screen and (min-width: 1280px) {
  section.schedule-block .title-top .month {
    width: 25%;
  }
}
section.schedule-block .title-top .month h3 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
section.schedule-block .title-top .month h4 {
  margin: 5px 0 0;
  padding: 0;
  font-size: "Nunito";
  font-size: 3.2rem;
}
section.schedule-block .title-top .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  section.schedule-block .title-top .days {
    width: 75%;
  }
}
section.schedule-block .title-top .days .day {
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-basis: 0;
  flex-basis: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
section.schedule-block .title-top .days .day:last-child {
  border-right: none;
}
section.schedule-block .title-top .days .day a {
  min-height: 65px;
  color: #FFF;
  display: block;
  font-family: "Nunito";
  font-size: 2rem;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
section.schedule-block .title-top .days .day.current {
  background: #e74949;
}
section.schedule-block .title-top .days .day.current a {
  color: #FFF;
}
section.schedule-block .shows-list {
  display: none;
}
section.schedule-block .shows-list.current, section.schedule-block .shows-list.display {
  display: block;
}
section.schedule-block .shows-list.current .item.pastshow, section.schedule-block .shows-list.display .item.pastshow {
  display: none;
}
section.schedule-block .shows-list.current .item.currentshow .hour, section.schedule-block .shows-list.display .item.currentshow .hour {
  background: rgba(234, 96, 96, 0.8);
}
section.schedule-block .shows-list.current .item.currentshow .data a, section.schedule-block .shows-list.display .item.currentshow .data a {
  background: #EA6060;
}
section.schedule-block .shows-list.current .item.currentshow .data a:hover, section.schedule-block .shows-list.display .item.currentshow .data a:hover {
  background: #e43333;
}
section.schedule-block .shows-list .item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
section.schedule-block .shows-list .item .hour {
  width: 25%;
  background: rgba(234, 96, 96, 0.5);
  color: #FFF;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
section.schedule-block .shows-list .item .hour p {
  display: table;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito";
  margin: 0 auto;
  padding: 20px 0;
}
@media only screen and (min-width: 1280px) {
  section.schedule-block .shows-list .item .hour p {
    font-size: 3rem;
  }
}
section.schedule-block .shows-list .item .data {
  width: 75%;
}
section.schedule-block .shows-list .item .data a {
  color: #FFF;
  padding: 15px 10px;
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  section.schedule-block .shows-list .item .data a {
    padding: 15px 30px;
  }
}
section.schedule-block .shows-list .item .data a img {
  margin: 0 10px 0 0;
  width: 50px;
  height: auto;
}
@media only screen and (min-width: 1280px) {
  section.schedule-block .shows-list .item .data a img {
    margin: 0 20px 0 0;
  }
}
section.schedule-block .shows-list .item .data a p {
  font-size: 2rem;
  font-family: "Nunito";
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 1280px) {
  section.schedule-block .shows-list .item .data a p {
    font-size: 3rem;
  }
}
section.schedule-block .shows-list .item .data a:hover {
  background: rgba(255, 255, 255, 0.2);
}

aside .box {
  display: block;
  margin: 0 0 20px 0;
}

footer {
  background: #585858;
}
footer .container {
  padding: 40px 10px !important;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  color: #585858;
  padding: 12px;
}
@media only screen and (min-width: 1280px) {
  footer .container {
    padding: 40px 0;
    grid-template-columns: 2fr 1fr 1fr 1fr 7fr;
  }
}
footer .container .col {
  color: #FFF;
}
footer .container .col .logogob img {
  display: table;
  margin: 0 auto;
  max-width: 200px;
}
@media only screen and (min-width: 1280px) {
  footer .container .col .logogob img {
    width: 100%;
  }
}
footer .container .col .logolom img {
  height: 200px;
  display: table;
  margin: 0 auto;
}
@media only screen and (min-width: 1280px) {
  footer .container .col .logolom img {
    width: 100%;
    height: auto;
  }
}
footer .container .col p {
  font-size: 1.25rem;
}
footer .container .col p.small {
  font-family: "Alegreya";
  font-style: italic;
  font-size: 1rem;
  line-height: 1.6;
}
footer .container .col:last-child .row.searchsocial {
  margin: 0 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  footer .container .col:last-child .row.searchsocial {
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
  }
}
footer .container .col:last-child .row nav {
  margin: 0 0 50px 0;
}
footer .container .col:last-child .row nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  footer .container .col:last-child .row nav ul {
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
}
footer .container .col:last-child .row nav ul li {
  margin: 0 15px 0 0;
}
@media only screen and (max-width: 1119px) {
  footer .container .col:last-child .row nav ul li {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
}
footer .container .col:last-child .row nav ul li a {
  display: block;
  font-size: 2rem;
  font-family: "Alegreya";
  font-style: italic;
  color: #FFF;
}
footer .container .col:last-child .row nav ul li a:hover {
  color: #9A7A14;
}
footer .container .col:last-child .row nav ul li ul.sub-menu {
  display: none;
}
footer .container .col:last-child .row .searchbox {
  margin: 0 30px 0 0;
}
footer .container .col:last-child .row .searchbox form {
  border-bottom: 1px solid #FFF;
}
footer .container .col:last-child .row .searchbox form input {
  color: #FFF;
  background: none;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-family: "Alegreya Sans";
}
footer .container .col:last-child .row .searchbox form input::-moz-placeholder {
  font-family: "Alegreya";
}
footer .container .col:last-child .row .searchbox form input::placeholder {
  font-family: "Alegreya";
}
footer .container .col:last-child .row .searchbox form button {
  border: none;
  background: none;
  color: #FFF;
  font-size: 1.6rem;
}
footer .container .col:last-child .row .searchbox form button:hover {
  color: #9A7A14;
  cursor: pointer;
}
footer .container .col:last-child .row .social {
  display: flex;
  flex-wrap: wrap;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  color: #FFF;
}
footer .container .col:last-child .row .social p {
  font-family: "Alegreya";
  font-size: 1.6rem;
  font-style: italic;
}
footer .container .col:last-child .row .social a {
  display: block;
  color: #FFF;
  margin: 0 0 0 15px;
}
footer .container .col:last-child .row .social a:hover {
  color: #9A7A14;
}
footer .container .col:last-child .row p.copyright {
  font-family: "Alegreya";
  font-size: 1.4rem;
  line-height: 1.3;
}
footer .container .col:last-child .row p.copyright a {
  color: #FFF;
}
footer .container .col:last-child .row p.copyright a:hover {
  color: #9A7A14;
}
footer .container .col:last-child .social a {
  font-size: 2.5rem;
  color: #585858;
  margin: 0 0 0 10px;
}
footer .container .col:last-child .social a:hover {
  color: #9A7A14;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 1284px;
  }
}/*# sourceMappingURL=main.css.map */