@use "../config" as *;

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    
    @include respond-to('tablet-landscape') {
        width: 100%;
        padding: 0;
    }
    @include respond-to('large-desktop') {
        width: 1200px;
        padding: 0;
    }
    @include respond-to('extra-large-desktop') {
        width: 1284px;
        padding: 0;
    }
}

a,
a:hover,
img,
img:hover {
    @include transition;
}