@use "../config" as *;

main.player-live{  
  padding: 20px 0;
  .container{
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include align-items(center);
    .block-player{
      width: 100%;
      @include respond-to('large-desktop') {
        width: calc(100% - 340px);
        #player{
          min-height: 500px;
        }        
      }
    }
    .block-ad{
      width: 100%;
      margin: 20px auto;    
      .ads{
        margin: 0 auto;
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(center);
        @include align-items(center);        
      }
      @include respond-to('large-desktop') {
        width: 300px;
        margin: 0;
      }
    }
  }  
}