main.page{
  section{
    padding: 20px 10px 0;
    @include respond-to($large-desktop) {
      padding: 20px 0 0;
    }
    .topImg{
      position: relative;
      height: 50vh;
      border-radius: 4px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      } 
    }
    .row{
      display: grid;
      grid-template-columns: 1fr;
      padding: 40px 0 0;
      grid-row-gap: 20px;
      @include respond-to($large-desktop) {
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 20px;
      }
      .col{
        h1.title{
          font-size: 3rem;
          text-transform: uppercase;
          margin: 0 0 10px;
          padding: 0;
        }
        span.line{
          display: table;
          width: 50px;
          height: 3px;
          margin: 0;
          background: $orange;
        }
        p{
          font-size: 1.8rem;
          line-height: 1.4;
          margin: 0 0 15px 0;
          padding: 0;
          a{
            color: $orange;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  form{
    margin: 40px 0;
    input, textarea{
      font-size: 1.8rem;
      width: 100%;
      padding: 10px;
      border: 1px solid #666;
    }
    input.wpcf7-submit{
      border: none;
      background: $red;
      color: #FFF;
      &:hover{
        cursor: pointer;
        background: darken($red, 10%);
      }
    }
  }
}

h1.titleRed{
  color: $red;
  font-family: $al;
  font-size: 5.4rem;
  font-weight: 500;
  text-align: center;  
  margin: 0;
  padding: 50px 0 0;
}

article.layout{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  @include respond-to($large-desktop) {
    padding: 0 0 50px 0;
    grid-template-columns: 1fr 7fr 4fr;
    align-items: flex-end;
  }
  .content-text{
    font-family: $al;
    font-size: 2.5rem;
    line-height: 1.25;
  }
  &.full{
    @include respond-to($large-desktop) {
      padding: 0 0 50px 0;
      grid-template-columns: 1fr 10fr 1fr;
      align-items: flex-end;
    }
    .content-text{
      grid-column-start: 2;
    }
  }
}

article.busqueda{
  padding: 50px 0;
  .titleBar{
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
    h1{
      color: $red;
      font-family: $al;
      font-size: 5rem;
      font-weight: 500;
      margin: 0; padding: 0;
    }
    img{
      max-height: 55px;
    }
  }
  .search-filters{
    padding: 40px 0;
    @include respond-to($large-desktop) {
      display: table;
      width: 70%;
      margin: 0 auto;
      padding: 50px 0;
    }
  }
  .block{
    margin: 0;
    form{
      margin: 0 0 20px;
    }
    input, button, select{
      -webkit-appearance: none;
    }   
    select{
      outline: none;
      width: 100%;
      font-size: 1.8rem;
      padding: 10px;
      border: 1px solid #D8D8D8;
      background: #FFF url(../img/bg_select.png) no-repeat right center;
      border-radius: 0;
    } 
    &.byTerm{
      form{
        -webkit-appearance: none;
        input{
          border: 1px solid #D8D8D8;
        }
        button{
          font-family: $al;
          font-weight: 500;
          font-style: italic;
          font-size: 1.9rem;
          border:none;
          background: $red;
          color: #FFF;
          width: 100%;
          margin: 5px 0 0 0;
          padding: 10px 0;
          &:hover{
            background: darken($rojo, 10%);
            cursor: pointer;
          }
        }
      }
    }
  }
}

.topEspecial{
  .thumb{
    overflow: hidden;
    @include respond-to($large-desktop) {
      max-height: 600px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  } 
  p.creditos-top{
    margin: 0;
    padding: 10px 0 0;
    color: $lightgrey;
    font-size: 1.6rem;
    text-align: right;
  }
  .data{
    text-align: center;
    padding: 20px;
    @include respond-to($large-desktop) {
      padding: 50px 100px 100px;
    }
    h2{
      color: $blue;
      font-family: $al;
      font-size: 5.4rem;
      font-weight: 500;
      margin: 0; padding: 0;
    }
    h3{
      color: $blue;
      font-family: $als;
      font-size: 2.2rem;
      margin: 0; padding: 0;
    }
    p{
      color: $blue;
      font-family: $als;
      font-size: 3.4rem;
    }
  }
}

h1.title.red{
  color: $rojo;
  text-align: center;
  font-family: $al;
  font-size: 5.4rem;
  font-weight: normal;
  margin: 0 auto 20px;
  padding: 0;
}

.texto-error{
  margin: 40px auto 100px;
  p.error{
    font-size: 3rem;
    font-family: $al;
    text-align: center;
    display: table;
    margin: 0 auto 10px;
    width: 100%;
    text-decoration: underline;
    a{
      display: inline-block;
      text-decoration: underline;
      &:hover{        
        color: $rojo;        
      }
    }
  }
}